/* Shaheed Ebrahim */
#intro-header{
    background-color: #18bc9c;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#tutorial-header{
    background-image: url("images/programming.jpeg");
    padding: 150px;
}

#resources-header{
    background-image: url("images/books.jpeg");
    padding: 100px;
}

#tutorial-header, #resources-header{
    text-align: center;
    color: white;
    background-size: 100%;
    font-size: 350%;
    margin-top: 0px;
    margin-bottom: 0px;

}

.navbar{
    background-color: #2c3e50;
    padding: 20px;
}
.navbar a{
    padding-right: 100px;
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    text-decoration: underline;
}

.main-content .information .side-by-side-elements{
    display: flex;
    flex-direction: row;
}

.main-content .information .side-by-side-elements .left-side{
    flex-basis: 70%;
}

.main-content{
    display: flex;
    flex-direction: row;
}

.main-content .left-bar{
    flex-basis: 10%;
    background-color: #2e5a0e;
    margin-right: 20px;
}

.main-content .information {
    flex-basis: 80%;
}

.main-content .right-bar{
    flex-basis: 10%;
    background-color: #2e5a0e;
}

#judges {
    border-collapse: collapse;
    margin-right: 10px;
}

#judges td, #judges th {
    border: 1px solid black;
    padding: 10px;
}
#judges th {
    text-align: left;
    background-color: #18bc9c;
    color: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}



