#intro-header{
    background-color: #18bc9c;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 2px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#tutorial-header{
    text-align: center;
    background-image: url("images/programming.jpeg");
    padding: 150px;
    color: white;
    background-size: 100%;
    font-size: 350%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar{
    background-color: #2c3e50;
    padding: 20px;
}
.navbar a{
    padding-right: 100px;
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: #18bc9c;
}

.main-content .information .rule-explanation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-content .information .rule-explanation .left-side{
    flex-basis: 70%;
}

.main-content{
    display: flex;
    flex-direction: row;
}

.main-content .left-bar{
    flex-basis: 10%;
    background-color: #2e5a0e;
    margin-right: 20px;
}

.main-content .information {
    flex-basis: 80%;
}

.main-content .right-bar{
    flex-basis: 10%;
    background-color: #2e5a0e;
}



