html, body{
    height: 99%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
#messages {
    display: flex;
    flex: 1 0 90%;
    flex-direction: column;
    list-style-type: none; margin: 0; padding: 0;
    margin-left:10px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: auto;
    max-height: 97%;
    margin-top:auto;

}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}
#username-bar {
    margin-top: 4px;
    margin-left:10px;
    margin-right:20px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 5px;
}
form{
    flex: 1 0 5%;
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 20px;
}
form #m{
    flex: 1 1 90%;
    margin-right:5px;
}
form button{
    flex: 1 1 10%;
}
.side-by-side{
    display: flex;
    flex: 1 1 95%;
}

#users{
    flex: 1;
    border-style: solid;
    border-color: black;
    border-width:1px;
    border-radius:5px;
    list-style-type: none;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 20px;
    margin-top: 0px;
    color: #FFF;
    background-color: #546E7A;
}

h1{
    flex: 1 1 10%;
    background-color: #18bc9c; 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
